.grid { 
  display: grid;
 
 grid-template-areas:
"header header"
"nav content";
 grid-template-rows: 110px 1fr;
  grid-template-columns: 2fr 10fr;
 /*grid-gap: 10px;*/
  
}
.header {
  grid-area: header;
  background-color: lightgray;
}
.header img {
  width: 100px;
}
.sidebar {
  grid-area: nav;
  background-color: lightgreen;
}
.content {
  grid-area: content;
}
.content img {
  max-width: 100%;
}